<div class="modal-header">
  <h4 class="modal-title">{{ reminderId ? 'Update reminder':'Create reminder' }}</h4>
</div>

<div class="modal-body">
  <div class="form-group">
    <!-- <label for="title">Title</label> -->
    <input type="text" class="form-control" id="title" name="title" placeholder="Add a title" [(ngModel)]="reminder.title" maxlength="30">
  </div>
  <form autocomplete="off">
    <div class="form-group row">
      <div class="col-5">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd"
                 name="dp" [(ngModel)]="reminder.date" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
              <fa-icon [icon]="faCalendarAlt"></fa-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="col-5">
        <ngb-timepicker name="time" [(ngModel)]="reminder.time" [spinners]="false"></ngb-timepicker>
      </div>
      <div class="col-2">
        <div class="color-picker" [(colorPicker)]="reminder.color" [style.background]="reminder.color"></div>
      </div>
    </div>
  </form>

  <ngb-alert *ngIf="fieldsValidationError" type="danger" [dismissible]="false">Please fill in all the fields correctly</ngb-alert>
</div>
<pre> {{ reminder | json }}</pre>
<div class="modal-footer">
  <button class="btn btn-outline-secondary" type="button" (click)="activeModal.dismiss()" [disabled]="isLoading">Cancel</button>
  <button class="btn btn-primary" (click)="submitForm()" [ladda]="isLoading">
    {{ reminderId ? 'Update':'Create' }}
  </button>
</div>
