<div class="container-fluid">
  <div class="row">
    <div class="col">

    </div>
  </div>
  <!-- <div class="row">
    <div class="col">
      mes
      mes
    </div>
  </div> -->

  <div class="row">
    <div class="col">
      <ul class="day-name-list">
        <li class="day-name" *ngFor="let weekDay of weekDays">{{ weekDay }}</li>
      </ul>
      <ul class="day-number-list">
        <li *ngFor="let day of days; let i = index;" class="day-number"
          [ngClass]="{'weekend': day.weekDay == 0 || day.weekDay == 6, 'current-month': day.currentMonth }"
          (click)="createReminder(day)">
          <app-day [day] ="day" class="list-content" (reminderUpdated)="handleReminderUpdated($event, day, i)"></app-day>
        </li>
      </ul>
    </div>
  </div>
</div>
