<div class="container-fluid">
  <div class="row">
    <div class="col">

    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-bordered">
        <thead>
          <tr class="th-bg">
            <th scope="col" class="text-center text-white" *ngFor="let weekDay of weekDays">{{ weekDay }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of days | chunk: 7; let i = index">
            <td *ngFor="let day of row; let first = first; let last = last;" (click)="openModal(day)" [ngClass]="{'weekend': first || last, 'current-month': day.currentMonth }">
              <app-day [day] ="day"></app-day>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col">
      <ol>
        <li class="day-name" *ngFor="let weekDay of weekDays">{{ weekDay }}</li>

        <li *ngFor="let day of days; let first = first"
          [style.gridColumnStart]="first ? day?.numberInWeek : 'auto'"
        >
          <span>{{ day.value }}</span>
        </li>
      </ol>
    </div>
  </div> -->
</div>
